/**
 * Created by chile on 10/26/15.
 */
#product-detail{
  padding-top: 76px;
  margin: 0;
  .header-page-title{
    border-bottom: 1px solid #ccc;
    .product-tag-title{
      padding: 10px 0;
      margin: 5px 0;
      font-weight: 400;
      font-size: 25px;
    }
  }
  .thumbnail{}
  .price{
    .old-price{
      font-size:20px;
      text-decoration:line-through
    }
  }
  .product-color{
    .product-color-title{
      font-size: 12pt;
      padding:10px 0;
    }
    ul{
      padding:0;
      margin:0;
      list-style:none;
      line-height: 60px;
    }
    li{
      padding:10px;
      line-height: 60px;
      color:#4f4f4f;
      border-bottom: 1px solid #C4C4C4;
      cursor: pointer;
      background:#efefef;
      &:last-child{
        border: 0 none;
      }
      .selected{
        background:#D6D6D6;
      }

    }
    img{
      background:#fff;
      width:60px;
      padding:1px;
      border: 1px solid #ccc
    }
    select{
      padding:6px 10px;
      margin:16px 0 0 0;
    }
  }
  h2.cart-totals-title{
    text-align:right;
    text-decoration:underline;
    padding:0;
    margin:2px 0;
  }
  .no-border th, .no-border td{border:none!important;}
  .cart_table_item td{
    vertical-align: middle!important;
    text-align: center;
  }
  .cart_table_item td.product-name{
    text-align: left;
    a{
      background-color:transparent!important;
      color:#777!important;
      &:hover{
        background-color:transparent!important;
        color:#0088cc!important;
      }
    }
  }
  .qtywidth{width:40px!important}
  .custom-height{height:50px !important}
  .product-information-head{
    font-size: 16px;
    color: @color-grey;
    font-weight: 500;
    margin-bottom: 2px;
  }
  .product-colors{
    width: 100%;
    list-style-type: none;
    a{
      cursor: pointer;
      display: inline-block;
      background: rgba(0, 0, 0, 0.3);
      margin: 0 1px -2px 0;
      img{
        width: 45px;
        height: 45px;
        display: block;
        border: 1px solid #dddddd;
        opacity: 0.4;
        @media (max-width: 768px) {
          width: 40px;
          height: 40px;
        }
      }
      &:hover,&.active{
        img{
          border-color: @color-green-light;
          opacity: 1;
        }
      }
    }
  }
  .list-size-product{
    width: 100%;
    list-style-type: none;
    margin-bottom: 20px;
    li{
      float: left;
      margin: 0px 10px 10px 0;
      a{
        border: 1px solid @color-grey-supper-light;
        border-radius: 2px;
        display: block;
        padding: 4px 12px 2px;
        cursor: pointer;
        color: #333;
        &:hover,&.active{
          background-color: @color-green-light;
          border-color: @color-green-light;
          color: #fff;
        }
        &.disable{
          border: 1px dashed @color-border;
          opacity: 0.4;
          cursor: default;
          &:hover,&.active{
            background-color: #fff;
            border-color: #ccc;
            color: #333;
          }
        }
      }
    }
  }
  .price{
    margin: 10px 0 25px;
    font-size: 18px;
    color: @color-grey;
    font-weight: 500;
  }
  .block-promotions {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid @color-red-light;
    .block-promotions-title {
      background: @color-red-light none repeat scroll 0 0;
      padding: 5px;
      vertical-align: middle;
      text-align: center;
    }
    .block-promotions-infos {
      background: #f5f5f5 none repeat scroll 0 0;
      color: #333;
      padding: 5px;
      p {
        margin-bottom: 0;
        margin-top: 0;
      }
      .orther-promotions {
        border-top: 1px solid #ccc;
        margin-top: 5px;
        padding-top: 5px;
      }
      .text-danger{
        color: @color-red;
      }
    }
  }
  .name-product{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
  }
  .quick-order-block{
    border: 1px solid #ccc;
    padding: 10px 10px;
    margin-top: 20px;
    .intl-tel-input{
      width: 100%;
      #phoneQuickOrderNumber{
        width: 100%;
        padding: 7px 30px 7px 5px;
      }
      .selected-flag{
        display: none;
      }
      .glyphicon-remove{
        color: @color-red-light;
      }
      .glyphicon-ok{
        color: @color-green-light;
      }
    }
    .help-block{
      color: @color-red-light;
    }
    #order-product-with-phone{
      margin: 10px 0 0;
      background: linear-gradient(#FB8C00, #F57C00);
    }
  }
  .get-money-with-us-btn{
    margin-top: 30px;
    background: @color-grey;
  }

  button#add-cart-btn{
    margin: 5px 0 10px;
  }
  .thumbnail{
    border: none;
    border-radius: 0;
  }
  .save-product-wrap{
    display: inline-block;
    a{
      color: @color-green;
      text-decoration: none;
      font-size: 12px;
      height: 20px;
      display: block;
      overflow: hidden;
      padding: 0 0 0 25px;
      i.pe-7s-like{
        font-size: 20px;
        margin-left: -25px;
        position: absolute;
      }
      i.fa-heart{
        font-size: 17px;
        margin: 2px 0 0 -23px;
        position: absolute;
        display: none;
      }
      span{

      }
    }
    &:hover a, &.active a{
      color: @color-red;
      i.pe-7s-like{
        display: none;
      }
      i.fa-heart{
        display: inline-block;
      }
    }
  }
  .btn-post-to-facebook{
    color: #496397;
    font-size: 12px;
    text-decoration: none;
    i{
      font-size: 17px;
      margin-right: 5px;
    }
  }
  .shop-rule{
    font-size: 13px;
    background: #f5f5f5;
    margin-left: 0px;
    padding: 5px 0;
    font-weight: 500;
    margin-top: 25px;
    li{
      padding: 3px 0 3px 22px;
      i{
        left: 0;
        position: absolute;
        top: 7px;
        font-size: 17px;
      }
      .phone-buy-online{
        color: @color-red;
        font-weight: 500;
        font-size: 16px
      }
    }
  }
  .product-information-detail{
    &#product-main-information{
      position: relative;
      margin-top: 15px;
      border-top: 15px solid @color-background;
      background: @color-background;
      #product-description{
        background: #fff;
        border-bottom: 15px solid #f0f0f0;
      }
    }
    .product-description-detail{
      .toggle-content{
        padding: 0 10px 0 10px;
        text-align: center;
        img{
          height: auto;
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
          margin-top: 20px;
        }
      }
      h1, h2, h3, h4, h5{
        color: @color-grey-light;
        margin: 20px 0 5px;
      }
      p{
        padding: 5px 0 0;
      }
    }
    section{
      margin-bottom: 30px;
      >label
      {
        border: none;
        padding: 0 0 0 10px;
        background: none;
        border-radius: 0;
        color: #cccccc;
        margin: 0;
        position: relative;
        .description-detail-title{
          color: @color-green;
          span{
            padding: 0 20px;
            background: #ffffff;
          }
        }
        &:before, &:after{
          border: none;
        }
        .description-detail-title{
          font-size: 1.3em;
          font-weight: 400;
          margin-bottom: 0;
          text-transform: none;
          padding: 8px 0;
        }
        i{
          color: @color-border;
          font-size: 40px;
          position: absolute;
          right: 0;
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          transition: all 0.5s ease;
        }
      }
      .description-detail-title-footer{
        border-bottom: 1px solid @color-border;
        display: block;
        height: 10px;
        width: 100%;
        margin-top: -28px;
        margin-bottom: 29px;
      }
      &.active{
        >label{
          i{
            color: @color-green-light;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
      }
    }
    #list-tag-related-product-wrap {
      background: #fff;
      #list-tag-related-product{
        .toggle-content{
          max-height: 170px;
          overflow: auto;
          display: block;
        }
      }
    }
  }
  #product-detail-gallery-mobile{
    margin-bottom: 15px;
  }
  hr.tall{
    margin: 20px 0;
    height: 1px;
  }
  #list-product-related-wrap{
    position: unset;
    background: #fff;
    padding: 0;
    border-left: 15px solid #f0f0f0;
    border-bottom: 15px solid #f0f0f0;
    @media (max-width: 768px) {
      border-left: none;
    }
    #list-product-related{
      .product-title a{
        font-size: 12px;
      }
    }
  }
  #comment-block{
    background: #fff;
    margin-top: 15px;
  }
  .product-basic-information{
    font-weight: 600;
    font-size: 13px;
    p{
      margin: 0 0 5px;
    }
  }
}
#product-list-top-menu{
  margin: 0;
  background-size:100% auto;
  padding: 75px 0 0;
    h2{
      align-items: center;
      color: #ffffff;
      display: flex;
      font-size: 3vw;
      font-weight: 300;
      height: 15vw;
      justify-content: center;
      margin: 0;
      max-height: 200px;
      text-shadow: 0 3px 5px #000;
    }
}

#modal-post-to-facebook{
  .wrap-list-image-post-to-facebook{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 130px;
    .list-image-post-to-facebook{
      height: 100px;
      white-space: nowrap;
      .item-image-post-to-facebook{
        height: 100px;
        img{
          border: 2px solid @color-border;
          height: 100%;
          margin: 5px;
          padding: 5px;
          &.active{
            border-color: @color-green;
          }
        }
      }
    }
  }
  .desc-post-to-facebook{
    width: 100%;
    border: 1px solid @color-border;
    height:80px;
    padding: 5px;
  }
}
@-moz-document url-prefix() {
  select.select-custom {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  select.select-custom::-ms-expand {
    display: none;
  }
}

.tag-description{
  color: @color-grey-light;
  h1,h2,h3,h4,h5{
    text-transform: none;
    color: @color-grey-light;
    font-weight: 400;
    margin: 20px 0 5px;
  }
}