/vendor

/public/css/admin/admin.css
/public/css/admin/admin.min.css
/public/js/admin/admin.js
/public/js/admin/admin.min.js

/public/css/client/client.css
/public/css/client/client.min.css
/public/js/client/client.js
/public/js/client/client.min.js

/public/css/partner/partner.css
/public/css/partner/partner.min.css
/public/js/partner/partner.js
/public/js/partner/partner.min.js

/storage
/public/images/product
/public/images/tag
/config
/.idea

composer.lock
/public/img